<div class="cover">
    <div class="jumbotron">
        <div class="section-content">
            <h1 class="section-header">Contact</h1>
        </div>
        <div class="contact-section">
            <div class="container">
                <form>
                    <div class="contain">
                        <div class="col-md-6 form-line divider">
                            <div class="form-group">
                                <label for="exampleInputUsername">Name</label>
                                <input type="text" class="form-control" id="" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="telephone">Subject</label>
                                <input type="tel" class="form-control" id="telephone" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6 divider">
                            <div class="form-group">
                                <label for="description"> Message</label>
                                <textarea class="form-control" id="description" placeholder=""></textarea>
                            </div>
                            <div>

                                <button type="button" class="btn btn-default submit">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Message </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>