.navbar-nav {
    margin-left: auto;
    font-family: 'Courier New', Courier, monospace;
    border: 10px 10px 10px 10px;
    border-color: black;    
    color: gray;
    
}

i {
    color: blackss;
    font-size: 25px;
    text-shadow: 0 1px 0 #ccc
}
a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px 30px 30px 30px;
    font-weight: bold;
    color: #ccc;

}

.dropdown-item {
    color: #aaa;
}

.navbar-title {
    font-size: 1.5rem;    
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 1px 0 #ccc, 
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa
}